<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.crm.mapper.CrmAppointMapper">
    
    <resultMap type="CrmAppoint" id="CrmAppointResult">
        <result property="id"    column="id"    />
        <result property="car"    column="car"    />
        <result property="loginName"    column="login_name"    />
        <result property="name"    column="name"    />
        <result property="tel"    column="tel"    />
        <result property="sex"    column="sex"    />
        <result property="contactsId"    column="contacts_id"    />
        <result property="carId"    column="car_id"    />
        <result property="time"    column="time"    />
        <result property="createTime"    column="create_time"    />
        <result property="status"    column="status"    />

    </resultMap>

    <sql id="selectCrmAppointVo">
        SELECT
            a.id,
            CONCAT(cr.`name`,' ',cr.style) car,
            ct.login_name,
            ct.`name`,
            ct.tel,
            ct.sex,
            a.time,
            a.create_time,
            a.`status`
        FROM
            crm_appoint a,
            crm_car cr,
            crm_contacts ct
        WHERE
            a.car_id = cr.id
        AND a.contacts_id = ct.id
    </sql>

    <select id="selectCrmAppointList" parameterType="CrmAppoint" resultMap="CrmAppointResult">
        <include refid="selectCrmAppointVo"/>

            <!--<if test="contactsId != null "> and a.contacts_id = #{contactsId}</if>-->
            <!--<if test="carId != null "> and car_id = #{carId}</if>-->
            <if test="time != null"> and a.time = date_format(#{time},'%y-%m-%d')</if>
            <if test="status != null and status!='' "> and status = #{status}</if>
            ORDER BY a.time DESC
    </select>
    <select id="selectCrmAppointByLoginName" parameterType="String" resultMap="CrmAppointResult">
        <include refid="selectCrmAppointVo"/>
        and ct.login_name = #{loginName}
        ORDER BY a.time DESC
    </select>
    
    <select id="selectCrmAppointById" parameterType="Long" resultMap="CrmAppointResult">
        <include refid="selectCrmAppointVo"/>
        and a.id = #{id}
    </select>

    <insert id="insertCrmAppoint" parameterType="CrmAppoint" useGeneratedKeys="true" keyProperty="id">
        insert into crm_appoint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contactsId != null ">contacts_id,</if>
            <if test="carId != null ">car_id,</if>
            <if test="time != null">time,</if>
            status,
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contactsId != null ">#{contactsId},</if>
            <if test="carId != null ">#{carId},</if>
            <if test="time != null">#{time},</if>
            "N",
            sysdate()
         </trim>
    </insert>

    <update id="updateCrmAppoint" parameterType="CrmAppoint">
        update crm_appoint
        <trim prefix="SET" suffixOverrides=",">
            <if test="contactsId != null ">contacts_id = #{contactsId},</if>
            <if test="carId != null ">car_id = #{carId},</if>
            <if test="time != null">time = #{time},</if>
            <if test="status != null and status!=''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCrmAppointById" parameterType="Long">
        delete from crm_appoint where id = #{id}
    </delete>

    <delete id="deleteCrmAppointByIds" parameterType="String">
        delete from crm_appoint where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>