<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>预约</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
	<link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<!--<div class="wrapper wrapper-content">-->
	<div class="wrapper wrapper-content  animated fadeInRight">

		<div class="row">
			<div class="col-sm-6">
				<div class="ibox" >
					<div class="ibox-content">
						<h3>今天未完成的预约</h3>
						<p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>
						<ul class="sortable-list connectList agile-list" id="noFinish">
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="ibox">
					<div class="ibox-content">
						<h3>已完成的预约</h3>
						<p class="small"><i class="fa fa-hand-o-up"></i> 在列表之间拖动任务面板</p>
						<ul class="sortable-list connectList agile-list" id="finish">

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--</div>-->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".sortable-list").sortable({connectWith: ".connectList"}).disableSelection()
    });



	// console.log(dataArr);

    let init_fun = function () {
        var finishArr = [];
        var noFinishArr = [];
        var noFinish = $("#noFinish").find('li');
        $.each(noFinish, function (i, value){
            var numnof = $(this).attr("id");
            noFinishArr.push(numnof);
        });
        var finish = $("#finish").find('li');
        $.each(finish, function (i, value){
            var numf = $(this).attr("id");
            finishArr.push(numf);
        });

		$.ajax({
            type: 'post',
            url: '/system/main/post?finish='+finishArr+'&noFinish='+noFinishArr+'',
            success: function (data) {
                var finish = '';
                var noFinish = '';
                $.each(data['finish'], function (i, value) {
                    finish += '<li class="success-element" id="'+value["id"]+'">\n' +
                        '\t\t\t\t\t\t\t\t<p style="">\n' +
                        '\t\t\t\t\t\t\t\t预约车辆：'+value["car"]+'<br>\n' +
                        '\t\t\t\t\t\t\t\t联系人：'+value["name"]+'<br>\n' +
                        '\t\t\t\t\t\t\t\t联系电话：'+value["tel"]+'\n' +
                        '\t\t\t\t\t\t\t\t</p>\n' +
                        // '\t\t\t\t\t\t\t\t预约联系人：'+value["name"]+'\t' +'联系电话：'+value["tel"]+'\n'
                        '\t\t\t\t\t\t\t\t<div class="agile-detail">\n' +
                        '\t\t\t\t\t\t\t\t\t<a href="#" class="pull-right btn btn-xs btn-white">完成</a>\n' +
                        '\t\t\t\t\t\t\t\t\t<i class="fa fa-clock-o"></i>'+value["time"].substring(0,10)+'\n' +
                        '\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t</li>';

                });
                $("#finish").html(finish);

                $.each(data['noFinish'], function (i, value) {
                    noFinish += '<li class="danger-element" id="'+value["id"]+'">\n' +
                        '\t\t\t\t\t\t\t\t<p style="">\n' +
                        '\t\t\t\t\t\t\t\t预约车辆：'+value["car"]+'<br>\n' +
                        '\t\t\t\t\t\t\t\t联系人：'+value["name"]+'<br>\n' +
                        '\t\t\t\t\t\t\t\t联系电话：'+value["tel"]+'\n' +
                        '\t\t\t\t\t\t\t\t</p>\n' +
                        // '\t\t\t\t\t\t\t\t预约联系人：'+value["name"]+'\t' +'联系电话：'+value["tel"]+'\n'
                        '\t\t\t\t\t\t\t\t<div class="agile-detail">\n' +
                        '\t\t\t\t\t\t\t\t\t<a href="#" class="pull-right btn btn-xs btn-white">进行中</a>\n' +
                        '\t\t\t\t\t\t\t\t\t<i class="fa fa-clock-o"></i>'+value["time"].substring(0,10)+'\n' +
                        '\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t</li>';

                });
                $("#noFinish").html(noFinish);
            }
        });

    };
    init_fun();
    setInterval(function () {
        init_fun();
    }, 10000);
    // $.modal.reload();
</script>

</body>
</html>
