<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
    <!-- Document Meta
        ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--IE Compatibility Meta-->
    <meta name="author" content="zytheme" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="construction html5 template">
    <link th:href="@{/assets/images/favicon/favicon.ico}" rel="icon">

    <!-- Fonts
        ============================================= -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CUbuntu:300,300i,400,400i,500,500i,700,700i' rel='stylesheet' type='text/css'>

    <!-- Stylesheets
        ============================================= -->
    <link th:href="@{/assets/css/external.css}" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script th:src="@{/assets/js/html5shiv.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

<!-- Document Title
    ============================================= -->
<title>[[${crmDetail.car}]]</title>
</head>

<body onload="loncess();">
<!--<body>-->
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
	<header id="navbar-spy" class="header header-7">
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<ul class="list-inline top-contact">
							<li><span>电话 :</span>+111111111111</li>
							<li><span>Email :</span> 1@1.com</li>
						</ul>
					</div>
					<div  class="col-xs-12 col-sm-6 col-md-7 ">
						<ul class="list-inline pull-right top-links ">
							<li id="crmName" class="dropdown">
								<a href="/home/login">登录</a>
								/
								<a href="/home/register">注册</a>
							</li>
							<li>
								<a href="/home/carFeedback">意见反馈</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</div>
		<!-- .top-bar end -->
		<nav id="primary-menu" class="navbar navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="logo" href="/home">
						<img th:src="@{/assets/images/logo/logo-light.png}" alt="Autoshop">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse pull-right" id="header-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li class="has-dropdown active">
							<a href="/home">首页</a>
						</li>
						<!-- li end -->
						<li>
							<a href="/home/carModel">车型报价</a>
						</li>
						<!-- li end -->
						<li>
							<a href="/home/appoint/1">预约车辆</a>
						</li>
						<li>
							<a href="/home/about">关于</a>
						</li>

						<!-- li end -->
					</ul>



				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>
	
	<!-- Page Title
============================================= -->
	<section id="page-title" class="page-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6">
					<h1>[[${crmDetail.name}]]</h1>
				</div>
				<!-- .col-md-6 end -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<ol class="breadcrumb text-right">
						<li>
							<a href="index.html">首页</a>
						</li>
						<li class="active">车辆详情</li>
						<li class="active">[[${crmDetail.car}]]</li>
					</ol>
				</div>
				<!-- .col-md-6 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #page-title end -->

	<!-- Shop product grid right sidebar
============================================= -->
	<section id="shopgrid" class="shop shop-grid">
		<div class="container">
			<div class="row panel panel-default">
				<div class="col-xs-12 col-sm-12 col-md-5 sidebar">
					<!-- Categories
					============================================= -->
					<div>
						<img th:src="${crmDetail.image}" width="450px" style="padding: 3%">
					</div>
					<!-- .widget-categories end -->
				</div>
				<div class="col-xs-12 col-sm-12 col-md-7 product" style="background: white">
					<div class="product-bio">
						<div class="prodcut-title" style="text-align: left;padding: 1%">
							<h2 >[[${crmDetail.car}]]</h2>
						</div>
						<div class="product-price" style="text-align: left;padding: 5%">
							<ul class="list-inline" >
								<li style="text-align: center">
									<h6>本店报价</h6><span>￥[[${crmDetail.price}]]万</span>
								</li>
								<li></li>
								<li style="text-align: center">
									<h6 style="color: #808080">厂商指导价</h6><span style="color: #808080">￥[[${crmDetail.price}]]万</span>
								</li>
							</ul>
						</div>
						<div style="text-align: left;padding: 5%;">
							<a th:href="@{'/home/appoint/'+${crmDetail.id}}" target="_blank" class="btn btn-danger btn-lg" style="width: 20%" >预约</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-3 sidebar">
					<!-- Categories
============================================= -->
					<div class="widget widget-categories">
						<div class="page-header">
							<!--<h4>所有车名</h4>-->
							<a href="/home/carModel"><h4>所有车名</h4></a>
						</div>
						<div class="widget-content" >
							<ul class="list-unstyled" id="carAllName">
								<li th:each="carBrands : ${carBrandList}">
									<a th:href="@{'/home/carModel/'+${carBrands.carbrand}}"><i class="fa fa-angle-double-right"></i>[[${carBrands.carbrand}]]</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- .widget-categories end -->
				</div>
				<!-- .col-md-3 end -->

				<div class="col-xs-12 col-sm-12 col-md-9">
					<div class="page-header">
						<h4>基本参数</h4>
					</div>
					<!-- .row end -->
					<div id="carAllModel">
						<div class="panel panel-default">
						<!-- Default panel contents -->

							<!-- Table -->
							<table class="table table-hover table-bordered" style="color: #0b0b0b">
								<tr>
									<td class="active" style="text-align: right">品牌</td>
									<td>[[${crmDetail.brand}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">级别</td>
									<td>[[${crmDetail.grade}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">车名</td>
									<td>[[${crmDetail.name}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">车型</td>
									<td>[[${crmDetail.style}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">上市时间</td>
									<td>[[${#dates.format(crmDetail.marketTime, 'yyyy-MM')}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">发动机</td>
									<td>[[${crmDetail.engine}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">动力类型</td>
									<td>[[${crmDetail.power}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">长×宽×高(mm)</td>
									<td>[[${crmDetail.lwh}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">最高速度(km/h)</td>
									<td>[[${crmDetail.topSpeed}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">0-100加速时间(s)</td>
									<td>[[${crmDetail.acctime}]]</td>
								</tr>
								<tr>
									<td class="active" style="text-align: right">工信部油耗(L/100km)</td>
									<td>[[${crmDetail.fuelconsump}]]</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<!-- .col-md-9 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	</section>
	<!-- #shopgrid end -->
	
	<!-- Footer #1
============================================= -->
	<footer id="footer" class="footer footer-2">
		<!-- Footer Info
    ============================================= -->
		<div class="footer-info">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Truck"></i>
							</div>
							<div class="info-content">
								<h4>超越极限</h4>
								<p>Beyond the Limit</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Dollars"></i>
							</div>
							<div class="info-content">
								<h4>价格公道</h4>
								<p>Fair price</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Shield"></i>
							</div>
							<div class="info-content">
								<h4>优质服务</h4>
								<p>Good service</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Headset"></i>
							</div>
							<div class="info-content">
								<h4>客户支持</h4>
								<p>Customer Support</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->
				</div>
			</div>
			<!-- .container end -->
		</div>
		<!-- .footer-info end -->

		<div class="footer-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="powered">
							<p>汽车4s店 &copy; 版权所有。 用心制造汽车。
							</p>
							<ul class="list-inline mb-0">
								<li>
									<a href="#">隐私政策</a>
								</li>
								<li>
									<a href="#">使用条款</a>
								</li>
								<li>
									<a href="/home/carModel">车型报价</a>
								</li>
								<li>
									<a href="#">关于我们</a>
								</li>
								<li>
									<a href="/home/carFeedback">意见反馈</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="payment-methods text-right">
							<ul class="list-inline mb-0">
								<li><img th:src="@{/assets/images/footer/visa.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/mastercard.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/american-express.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/delta.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/cirrus.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/paypal.png}" alt="payment"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- .container end -->
		</div>
		<!-- .footer-copyright end -->
	</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script th:inline="javascript"> var ctx = [[@{/}]];</script>
<!--<script src="../../static/assets/js/jquery-2.2.4.min.js" th:src="@{/assets/js/jquery-2.2.4.min.js}"></script>-->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<!--<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
<script src="../static/ajax/libs/datapicker/bootstrap-datetimepicker.js" th:src="@{/ajax/libs/datapicker/bootstrap-datetimepicker.js}"></script>
<script src="../../static/assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>
<script src="../../static/assets/js/functions.js" th:src="@{/assets/js/functions.js}"></script>

<script src="../../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../../static/crm/js/ry-ui.js" th:src="@{/crm/js/ry-ui.js?v=4.0.0}"></script>
<script>
    function loncess(){
        var username = '[[${CrmName}]]';
        console.log(username);
        if(username!="[\[${CrmName}]]" &&username!=undefined && username){
            console.log(11,username,11);
            console.log(111,"[\[${CrmName}]]");
            $("#crmName").find('a').remove();
            $("#crmName").find('div').remove();
            $("#crmName").html('<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[${CrmName}]]<i class="fa fa-angle-down"></i></a>'+
                '<ul class="dropdown-menu">'+
                '<li><a href="/home/personal/person" target="_blank">个人中心</a></li>'+
                '<li><a onclick="exit()">退出登录</a></li></ul>');
        }

    };
    function exit() {
        $.ajax({
            type: "post",
            url: "/home/exit",

            success: function(r) {
                console.log(r);
                location.href = '/home';
            }

        });
    }
</script>
</body>

</html>
