<!DOCTYPE html>
<!--<html dir="ltr" lang="en-US">-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >

<head>
<!-- Document Meta
    ============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="construction html5 template">
<link th:href="@{/assets/images/favicon/favicon.ico}" rel="icon">

<!-- Fonts
	============================================= -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CUbuntu:300,300i,400,400i,500,500i,700,700i' rel='stylesheet' type='text/css'>

<!-- Stylesheets
	============================================= -->
<link th:href="@{/assets/css/external.css}" rel="stylesheet">
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/assets/css/style.css}" rel="stylesheet">


<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script th:src="@{/assets/js/html5shiv.js}"></script>
<script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->

<!-- Document Title
    ============================================= -->
<title>登录</title>
</head>
<body>

     


<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
	<header id="navbar-spy" class="header header-7">
		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<ul class="list-inline top-contact">
							<li><span>电话 :</span>+111111111111</li>
							<li><span>Email :</span> 1@1.com</li>
						</ul>
					</div>
					<div  class="col-xs-12 col-sm-6 col-md-7 ">
						<ul class="list-inline pull-right top-links ">
							<li id="crmName" class="dropdown">
								<a href="/home/login">登录</a>
								/
								<a href="/home/register">注册</a>
							</li>
							<li>
								<a href="/home/carFeedback">意见反馈</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- .row end -->
			</div>
			<!-- .container end -->
		</div>
		<!-- .top-bar end -->
		<nav id="primary-menu" class="navbar navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="logo" href="/home">
						<img th:src="@{/assets/images/logo/logo-light.png}" alt="Autoshop">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse pull-right" id="header-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li class="has-dropdown active">
							<a href="/home">首页</a>
						</li>
						<!-- li end -->
						<li>
							<a href="/home/carModel">车型报价</a>
						</li>
						<!-- li end -->
						<li>
							<a href="/home/appoint/1">预约车辆</a>
						</li>
						<li>
							<a href="/home/about">关于</a>
						</li>

						<!-- li end -->
					</ul>



				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</header>

		<div class="container">
			<div class="row">
				<div class="col-xs-12  col-sm-12  col-md-12">
					<!--<div class="text-center">-->
						<!--<button type="button" class="btn btn-primary text-center" data-toggle="modal" data-target=".login-modal-lg">sign in button</button>-->
					<!--</div>-->
					<div class="" >
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-body">
									<p>Welcome Back</p>
									<form id="signupForm">
										<h6>登录</h6>
										<!--<p class="m-t-md">你若不离不弃，我必生死相依</p>-->
										<input type="text"     name="username" class="form-control uname"     placeholder="用户名/电话/电子邮箱" />
										<input type="password"     name="password" class="form-control uname"     placeholder="密码" />

										<button class="btn btn-block btn btn-primary mt-30" id="btnSubmit" data-loading="正在验证登录，请稍后...">登录</button>
										<div class="form-links text-center">
											<a href="/home/register">注册新用户</a>
										</div>
									</form>
									<!--<div class="sign-form">-->
										<!--<form class="mb-0">-->
											<!--<div class="form-group">-->
												<!--<input type="text" class="form-control" name="username" placeholder="User Name">-->
											<!--</div>-->
											<!--<div class="form-group">-->
												<!--<input type="password" class="form-control" name="password" placeholder="Password">-->
											<!--</div>-->
											<!--<div class="checkbox pull-left">-->
												<!--<label>-->
													<!--<input type="checkbox" name="rememberme">-->
													<!--Remember me</label>-->
											<!--</div>-->
											<!--<div class="pull-right lost-pass">-->
												<!--<a href="#">Forget Password?</a>-->
											<!--</div>-->
											<!--<button type="submit" class="btn btn-primary btn-block" onclick="login()">Sign In</button>-->
										<!--</form>-->
										<!--<div class="form-links text-center">-->
											<!--<a href="#">Create New Account</a>-->
										<!--</div>-->
									<!--</div>-->
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
					</div>
				</div>
				<!-- .col-md-12 end -->
			</div>
			<!-- .row end -->
		</div>
		<!-- .container end -->
	<!-- #signIn end -->
	
	<div class="clearfix mb-150"></div>
	
	<!-- Footer #1
============================================= -->
	<footer id="footer" class="footer footer-2">
		<!-- Footer Info
    ============================================= -->
		<div class="footer-info">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Truck"></i>
							</div>
							<div class="info-content">
								<h4>超越极限</h4>
								<p>Beyond the Limit</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Dollars"></i>
							</div>
							<div class="info-content">
								<h4>价格公道</h4>
								<p>Fair price</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Shield"></i>
							</div>
							<div class="info-content">
								<h4>优质服务</h4>
								<p>Good service</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->

					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="panel-info">
							<div class="info-icon">
								<i class="icon icon-Headset"></i>
							</div>
							<div class="info-content">
								<h4>客户支持</h4>
								<p>Customer Support</p>
							</div>
						</div>
					</div>
					<!-- .col-md-3 end -->
				</div>
			</div>
			<!-- .container end -->
		</div>
		<!-- .footer-info end -->

		<div class="footer-bar">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="powered">
							<p>汽车4s店 &copy; 版权所有。 用心制造汽车。
							</p>
							<ul class="list-inline mb-0">
								<li>
									<a href="#">隐私政策</a>
								</li>
								<li>
									<a href="#">使用条款</a>
								</li>
								<li>
									<a href="/home/carModel">车型报价</a>
								</li>
								<li>
									<a href="#">关于我们</a>
								</li>
								<li>
									<a href="/home/carFeedback">意见反馈</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="payment-methods text-right">
							<ul class="list-inline mb-0">
								<li><img th:src="@{/assets/images/footer/visa.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/mastercard.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/american-express.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/delta.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/cirrus.png}" alt="payment"></li>
								<li><img th:src="@{/assets/images/footer/paypal.png}" alt="payment"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- .container end -->
		</div>
		<!-- .footer-copyright end -->
	</footer>
</div>
<!-- #wrapper end -->

<!-- Footer Scripts
============================================= -->
<script th:inline="javascript"> var ctx = [[@{/}]];</script>
<!--<script src="../../static/assets/js/jquery-2.2.4.min.js" th:src="@{/assets/js/jquery-2.2.4.min.js}"></script>-->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!--<script src="../../static/assets/js/plugins.js" th:src="@{/assets/js/plugins.js}"></script>-->
<!--<script src="../../static/assets/js/functions.js" th:src="@{/assets/js/functions.js}"></script>-->

<script src="../../static/ajax/libs/validate/jquery.validate.min.js" th:src="@{/ajax/libs/validate/jquery.validate.min.js}"></script>
<script src="../../static/ajax/libs/layer/layer.min.js" th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<script src="../../static/ajax/libs/blockUI/jquery.blockUI.js" th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
<script src="../../static/crm/js/ry-ui.js" th:src="@{/crm/js/ry-ui.js?v=4.0.0}"></script>
<script src="../../static/assets/login.js" th:src="@{/assets/login.js}"></script>

</body>
</html>
