<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改汽车')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-car-edit" th:object="${crmCar}">
            <input name="id" th:field="*{id}" type="hidden">

            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>汽车品牌：</label>
                        <div class="col-sm-8">
                            <input name="brand" th:field="*{brand}" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">汽车级别：</label>
                        <div class="col-sm-8">
                            <input name="grade" th:field="*{grade}" class="form-control" type="text" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>车名：</label>
                        <div class="col-sm-8">
                            <select id="name" name="name" class="form-control" required>
                                <option value=""></option>
                                <!--<option th:each="carBrand:${carBrand}" th:text="${carBrand.carBrand}" th:value="${carBrand.carBrand}" th:selected="*{name}==${carBrand.carBrand}?true:false "></option>-->
                                <option th:each="carBran:${carBrandss}" th:text="${carBran.carbrand}" th:value="${carBran.carbrand}" th:selected="*{name}==${carBran.carbrand}?true:false "></option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>车型：</label>
                        <div class="col-sm-8">
                            <input name="style" th:field="*{style}" class="form-control" type="text" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span style="color: red; ">*</span>上市时间：</label>
                        <div class="col-sm-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input name="marketTime" th:value="${#dates.format(crmCar.marketTime, 'yyyy-MM')}" class="form-control" placeholder="yyyy-MM" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">价格(万元)：</label>
                        <div class="col-sm-8">
                            <input name="price" th:field="*{price}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">库存：</label>
                        <div class="col-sm-8">
                            <input name="carCount" th:field="*{carCount}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">排序：</label>
                        <div class="col-sm-8">
                            <input name="sort" th:field="*{sort}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他参数</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">发动机：</label>
                        <div class="col-sm-8">
                            <input name="engine" th:field="*{engine}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">动力类型：</label>
                        <div class="col-sm-8">
                            <input name="power" th:field="*{power}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">最高速度(km/h)：</label>
                        <div class="col-sm-8">
                            <input name="topSpeed" th:field="*{topSpeed}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">长宽高(mm)：</label>
                        <div class="col-sm-8">
                            <input name="lwh" th:field="*{lwh}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">0-100加速时间(s)：</label>
                        <div class="col-sm-8">
                            <input name="acctime" th:field="*{acctime}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">油耗(L/100km)：</label>
                        <div class="col-sm-8">
                            <input name="fuelconsump" th:field="*{fuelconsump}" class="form-control" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">图片：</label>
                        <div class="col-xs-10">
                            <input name="image" id="image" class="form-control" type="text" th:field="*{image}" required style="width:calc(100% - 100px);float: left; margin-right: 3px;">
                            <button id="uploadBtn"  type="button" class="btn btn-sm btn-primary" style="display: inline-block; width: 95px;position: relative;float: left;height: 33px;"><i class="fa fa-check"></i>上 传</button>&nbsp;
                            <p><img id="imgview" class="img-lg" th:src="(*{image} == '') ? @{/img/profile.jpg} : @{*{image}}"></p>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:src="@{/ajax/libs/plupload/plupload.full.min.js}"></script>
    <script type="text/javascript">

        var prefix = ctx + "crm/car";
        $("#form-car-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-car-edit').serialize());
            }
        }

        $("input[name='marketTime']").datetimepicker({
            format: "yyyy-mm",
            startView:"year",
            minView: "year",
            autoclose: true
        });
        function avatar() {
            var url = ctx + 'crm/car/avatar';
            $.modal.open("修改头像", url);
        }
    </script>
    <script type="text/javascript">
        var uploader = new plupload.Uploader({ //实例化一个plupload上传对象
            runtimes: 'html5,silverlight,html4,flash',
            browse_button : 'uploadBtn',
            url : ctx+"crm/car/uploadCar",
            flash_swf_url : "/ajax/libs/plupload/Moxie.swf",
            silverlight_xap_url : "/ajax/libs/plupload/Moxie.xap",
            filters: {
                max_file_size: '10mb', //最大上传文件大小（格式100b, 10kb, 10mb, 1gb）
                mime_types : [{ title : "图片文件", extensions:"jpg,jpeg,gif,png,bmp" }
                ]
            }//只允许上传图片文件
        });
        //绑定文件添加进队列事件
        uploader.bind('FilesAdded',function(uploader,files){
            uploader.start(); //开始上传
        });
        uploader.bind('Error',function(up, err){
            alert(err.message);//上传出错的时候触发
            console.log(uploader);
        });
        uploader.bind("FileUploaded", function(up, file, res){

            var json=res.response;
            json=JSON.parse(json);

            if(json.code!=0&&json.code!='0'){
                $.modal.alertError(json.msg);
            }
            uploadCallback(json.data);

        })
        window.onload = function() {
            uploader.init(); //初始化
        };
        function uploadCallback(json){
            $("#image").val(json.path);
            $("#imgview").attr("src",json.path);
        }
    </script>
</body>
</html>