<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('反馈建议列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>反馈标题：</p>
                                <input type="text" name="title"/>
                            </li>
                            <li>
                                <p>反馈内容：</p>
                                <input type="text" name="msg"/>
                            </li>
                            <li>
                                <p>是否已读：</p>
                                <select name="status" th:with="type=${@dict.getType('sys_yes_no')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="crm:msgfeedback:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="crm:msgfeedback:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="crm:msgfeedback:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="crm:msgfeedback:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('crm:msgfeedback:edit')}]];
        var removeFlag = [[${@permission.hasPermi('crm:msgfeedback:remove')}]];
        var statusDatas = [[${@dict.getType('sys_yes_no')}]];
        var prefix = ctx + "crm/msgfeedback";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                detailUrl: prefix + "/detail/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "反馈建议",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '反馈ID',
                    visible: false
                },
                {
                    field : 'title', 
                    title : '反馈标题'
                },
                {
                    field : 'msg', 
                    title : '反馈内容',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }
                },
                {
                    field : 'ctName',
                    title : '反馈人用户名'
                },
                {
                    field : 'tel',
                    title : '反馈人电话'
                },
                {
                    field : 'sex',
                    title : '反馈人性别',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sexDatas, value);
                    },
                    visible: false
                },
                {
                    field : 'uName',
                    title : '收信人用户名'
                },
                {
                    field : 'phonenumber',
                    title : '收信人电话',
                    visible: false
                },

                {
                    field : 'createTime',
                    title : '反馈时间',
                    formatter:function (value,row,index) {
                        var now = new Date(value);
                        var month = ('0' + (now.getMonth() + 1)).slice(-2);
                        var day = ('0' + now.getDate()).slice(-2);
                        //拼装完整日期格式
                        var today = now.getFullYear() + '年' + (month)+'月'+day+'日';
                        return today;
                    }
                },
                {
                    field : 'status', 
                    title : '是否已读',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        // console.log(row.id);
                        actions.push('<a class="btn btn-primary btn-xs" onclick="alread(\'' + row.id + '\')"><i class="fa fa-check-square-o"></i>已读</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="$.operate.detailFull(\'' + row.id + '\')"><i class="fa fa-search"></i>详细（已读）</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function alread(id) {
            console.log(id);
            $.operate.post(prefix + "/alread", { "id": id,"status":"Y"});
        }
    </script>
</body>
</html>